@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 24px;
  background-color: dodgerblue;
  border: 10px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding: 10px 0;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 50px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid black;
}

.grid div {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 5px solid black;

}


.snake {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/3e78b0ee-7d21-4e35-badd-d148b5a2a5de/d3d098t-ee4336b9-72bf-444a-bef7-78db1400043c.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fruit {
  background-image: url(https://data.whicdn.com/images/265030415/original.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
